.form-section{
    margin-top: 150px;
}

.xabar{
    display: block;
    width: 100%;
    margin-bottom: 20px;
}

.input-box{
    
}

.data{
    width: 48%;
}

.xabar-mazmuni{
    display: block;
    margin-top: 20px;
    width: 100%;
    margin-bottom: 30px;
}
